/* ----- VARIABLES ----- */

:root {
    --black: #000;
    --yellow: #ffdb4d;
    --red: #df4b41;
    --grey: #ccc;
}



/* ----- BASIC ----- */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* ----- HEADER ----- */

.header {
    max-width: 600px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header__text {
    margin-left: 10px;
    margin-bottom: 25px;
    font-size: 0.6em;
}



/* ----- CONTENT ----- */

.content {
    max-width: 600px;
    margin: auto;
}


/* cover */

.cover {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cover__image {
    width: 110px;
    min-width: 110px;
    height: 110px;
    background-image: url(https://pictures.s3.yandex.net/frontend-developer/dom_bom/cover.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.cover__heading {
    margin-left: 30px;
    font-size: 2.5em;
    line-height: 1;
}


/* form */

.form {
    max-width: 600px;
    margin: auto;
    margin-top: 60px;
    border-radius: 3px;
}

.form__field {
    margin-bottom: 36px;
}

.form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.form__error {
    display: none;
    position: absolute;
    margin-top: 10px;
    color: var(--red);
    text-align: left;
    font-size: 14px;
    animation: errors .1s ease-in-out;
}

.form__input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid var(--grey);
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.form__button {
    width: 200px;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
}

.form__input:valid:not(:placeholder-shown) {
    border-color: var(--yellow);
}

.form__input:invalid:not(:placeholder-shown) {
    border-color: var(--red);
}

.form__input:invalid:not(:placeholder-shown)+.form__error {
    display: block;
}

@keyframes errors {
    from {
        margin-top: -5px;
        opacity: .1;
    }

    to {
        margin-top: 10px;
        opacity: 1;
    }
}
